html {
  background-image: url(https://static.squarespace.com/static/52fc05c9e4b08fc45bd99090/5331dfe2e4b0f77da2ddde51/5331dfe3e4b0f77da2dde0ed/1300908525247/1000w/the-wall.jpg);
   background-size: cover;
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;

  height: 100%;
}

.quote-box {
  background: floralwhite; 
  opacity: .85;
  border-style: solid; 
  padding: 3px; 
  text-align: center; 
  border-radius: 5px;
  margin: 125px; 
  animation: nudge 5s linear infinite alternate;
}

h1 {
  text-align: center;
  font-family: "Book Antiqua", Palatino, "Palatino Linotype", "Palatino LT STD", Georgia, serif;;
  color: black; 
   text-shadow: -1px 0 gold, 0 1px gold, 1px 0 gold, 0 -1px gold;
}

.grab-quote {
    background-image: url("http://orig07.deviantart.net/5608/f/2013/213/9/2/game_of_thrones___jon_snow_and_ghost_icon_by_zappyattack-d6g9jq4.gif");
 border: 0;  
 height: 50px;
  width: 50px;
  text-align: center;
  background-color: transparent;
  margin-top: 10px;
}

@-webkit-keyframes Rotate
{
    from{-webkit-transform:rotate(0deg);}
    to{-webkit-transform:rotate(360deg);}
}
@-moz-keyframes Rotate
{
    from{-moz-transform:rotate(0deg);}
    to{-moz-transform:rotate(360deg);}
}
@-ms-keyframes spinnerRotate
{
    from{-ms-transform:rotate(0deg);}
    to{-ms-transform:rotate(360deg);}
}
.grab-quote{
    -webkit-animation-name: Rotate;
    -webkit-animation-duration: 5s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
    -moz-animation-name: Rotate;
    -moz-animation-duration: 5s;
    -moz-animation-iteration-count: infinite;
    -moz-animation-timing-function: linear;
    -ms-animation-name: Rotate;
    -ms-animation-duration: 5s;
    -ms-animation-iteration-count: infinite;
    -ms-animation-timing-function: linear;
}

@keyframes nudge {
  0%, 100% {
    transform: translate(0, 0);
  }
  
  50% {
    transform: translate(0, 25px);
  }
  
  80% {
    transform: translate(0,-25px);
  }
}

